[class^="col"] {
    max-height: 200px;
    border: 2px solid rgb(53, 109, 134);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.img-fluid {
    max-height: 100%;
}
body
{
    background-color: rgb(253, 254, 255);
}
.navbar a{
    position: relative;
    font-size: 18px;
    color:#70aac6;
    font-weight:700;
    text-decoration: none;
    margin-left:40px;
 }
 
 .navbar a :before{
     content:'';
     position: absolute;
     top:100% ;
     width:0;
     left:0;
     height:2px;
     background: #5394b2;

    font-family: 'Times New Roman', Times, serif;
 }